@model EstudioContable.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
}
<div class="bg-white" ng-controller="RegisterController">
    <section class="content content-boxed">
        <!-- Section Content -->
        <div class="row items-push push-50-t push-30">
            <div class="col-md-6 col-md-offset-3">
                <form class="form-horizontal" name="registerForm" ng-submit="register(registerForm)" ng-validate="validationOptions">
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="username" name="username" ng-model="user.username">
                                <label for="username">Usuario</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="cuit" name="cuit" ng-model="user.cuit">
                                <label for="cuit">Cuit</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="name" name="name" ng-model="user.name">
                                <label for="name">Nombre</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="text" id="surname" name="surname" ng-model="user.surname">
                                <label for="surname">Apellido</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="password" id="password" name="password" ng-model="user.password">
                                <label for="password">Contraseña</label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-xs-12">
                            <div class="form-material form-material-primary floating">
                                <input class="form-control" type="password" id="password2" name="password2" ng-model="user.password2">
                                <label for="password2">Confirme contraseña</label>
                            </div>
                        </div>
                    </div>
                    @*<div class="form-group">
                            <div class="col-xs-12 text-center">
                                <label class="css-input switch switch-sm switch-success">
                                    <input type="checkbox" id="frontend-signup-terms" name="frontend-signup-terms"><span></span> I agree with <a data-toggle="modal" data-target="#modal-signup-terms" href="#">terms &amp; conditions</a>
                                </label>
                            </div>
                        </div>*@
                    <div class="alert alert-danger alert-dismissable" ng-show="showErrorMessage">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h3 class="font-w300 push-15">Error</h3>
                        <p>Ha ocurrido un error al intentar registar el usuario. Por favor intente nuevamente o pongase en contacto con el administrador del sistema.</p>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-6 col-sm-offset-3">
                            <button class="btn btn-block btn-primary" type="submit"><i class="fa fa-plus pull-right"></i>Registrar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <!-- END Section Content -->
    </section>
</div>

<!-- Login -->
<div class="bg-primary-dark">
    <section class="content content-full content-boxed">
        <!-- Section Content -->
        <div class="push-20-t push-20 text-center">
            <h3 class="h4 text-white-op push-20 visibility-hidden" data-js-appear="{class:'animated bounceIn', timeout:300}">Ya tienes una cuenta creada? Ingresa ahora mismo!</h3>
            <a class="btn btn-noborder btn-info visibility-hidden" data-js-appear="{class:'animated bounceIn', timeout:600}" href="/Account/Login">Entrar</a>
        </div>
        <!-- END Section Content -->
    </section>
</div>
<!-- END Login -->
@*<h2>@ViewBag.Title.</h2>

    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <h4>Create a new account.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Register" />
            </div>
        </div>
    }*@

@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
}


